[Desktop Entry]
Comment=A Timer
Comment[af]=a tydhouer
Comment[az]=Saat
Comment[bg]=Таймер
Comment[cs]=Časovač
Comment[da]=En tidsmåler
Comment[de]=Eine Zeitmessung
Comment[eo]=Tempoplanilo
Comment[es]=Un temporizador
Comment[et]=Taimer
Comment[fi]=Ajastin
Comment[fr]=Un chronomètre
Comment[he]=שעון
Comment[hu]=Grafikus felületű időzítőprogram
Comment[is]=Skeiðklukkuforrit fyrir KDE
Comment[it]=Un timer
Comment[ja]=タイマー
Comment[ko]=시간 재기
Comment[lt]=Timeris
Comment[lv]=Taimers
Comment[mt]=Żomm il-ħin
Comment[nl]=een timer
Comment[no_NY]=Ei stoppeklokke
Comment[pl]=Czasomierz
Comment[pt]=Um temporizador
Comment[pt_BR]=Um temporizador
Comment[ru]=Таймер
Comment[sk]=Časovač
Comment[sl]=Časomerilec
Comment[sv]=En timer
Comment[tr]=Bir Zamanlayıcı
Comment[uk]=Таймер
Comment[vi]=Đồng hồ 
Comment[zh_CN.GB2312]=计时器
Comment[zh_TW.Big5]=計時器
Exec=ktimer
Icon=ktimer
Type=Application
Terminal=0
Name=Timer
Name[af]=tydhouer
Name[az]=Vaxt
Name[bg]=Таймер
Name[cs]=Časovač
Name[da]=Tidsmåler
Name[de]=Zeitschaltung
Name[eo]=Tempoplanilo
Name[es]=Temporizador
Name[et]=Taimer
Name[fi]=Ajastin
Name[fr]=Chronomètre
Name[he]=שעון
Name[hu]=Időzítő
Name[is]=Skeiðklukka
Name[ja]=タイマー
Name[ko]=시간 재기
Name[lt]=Taimeris
Name[lv]=Taimers
Name[no_NY]=Stoppeklokke
Name[pl]=Czasomierz
Name[pt]=Temporizador
Name[pt_BR]=Temporizador
Name[ru]=Таймер
Name[sk]=Časovač
Name[sl]=Časomerilec
Name[sr]=Tajmer
Name[tr]=Zamanlayıcı
Name[uk]=Таймер
Name[vi]=Đồng hồ 
Name[zh_CN.GB2312]=计时器
Name[zh_TW.Big5]=計時器
X-KDE-StartupNotify=true
