[Desktop Entry]
GenericName=Countdown Launcher
GenericName[ar]=بادئ العدّ التنازلى
GenericName[ca]=Llançador amb compte enrere
GenericName[cs]=Stopky
GenericName[cy]=Cychwynydd Cyfrif yn Ôl
GenericName[da]=Nedtællingsstarter
GenericName[de]=Startet den Zähler
GenericName[el]=Αντίστροφη μέτρηση για την ενεργοποίηση λογισμικού
GenericName[es]=Lanzador de cuenta atrás
GenericName[et]=Ajaarvestuse käivitaja
GenericName[eu]=Atzekoz aurrera zenbaketa jaurtitzen du
GenericName[fa]=راه‌انداز شمارش معکوس
GenericName[fi]=Lähtölaskenta
GenericName[fr]=Lanceur de compte à rebours
GenericName[ga]=Lainseálaí Comhairimh Síos
GenericName[gl]=Lanzador en conta-atrás
GenericName[hu]=Visszaszámláló
GenericName[is]=Niðurteljari
GenericName[it]=Conto alla rovescia
GenericName[ja]=起動マネージャ
GenericName[kk]=Кері санақ
GenericName[km]=កម្មវិធី​បើក​រហ័ស​របស់​កម្មវិធី​រាប់ថតក្រោយ
GenericName[ko]=카운트다운 실행기
GenericName[lt]=Laiko skaičiuoklė
GenericName[lv]=Laika atskaites palaidējs
GenericName[nb]=Beskjedverktøy
GenericName[nds]=Teller starten
GenericName[ne]=काउन्टडाउन सुरुआतकर्ता
GenericName[nn]=Nedteljing
GenericName[pa]=ਪੁੱਠੀ ਗਿਣਤੀ ਸ਼ੁਰੂਆਤੀ ਲਾਂਚਰ
GenericName[pl]=Odliczanie
GenericName[pt]=Contagem Decrescente
GenericName[pt_BR]=Contador de Tempo de Lançamento
GenericName[ro]=Cronometru
GenericName[ru]=Обратный отсчёт
GenericName[sk]=Odpočítavané spúšťanie
GenericName[sl]=Zaganjalec odštevanja
GenericName[sr]=Лансер одбројавања
GenericName[sr@latin]=Lanser odbrojavanja
GenericName[sv]=Nerräknande startprogram
GenericName[ta]= குறிப்பு எடுப்பான் நேரக்குறைப்பான்
GenericName[uk]=Таймер
GenericName[x-test]=xxCountdown Launcherxx
GenericName[zh_CN]=倒计时执行器
GenericName[zh_TW]=倒數發射計時
Exec=ktimer
Icon=ktimer
Type=Application
Terminal=false
Name=KTimer
Name[af]=Ktimer
Name[ne]=केडीई समय सूचक
Name[pl]=Czasomierz
Name[sv]=Ktimer
Name[ta]= Kநேரம் காட்டி
Name[tg]=KВақтсанҷ
Name[tr]=Zamanlayıcı
Name[x-test]=xxKTimerxx
Name[xh]=Umjongi Wexesha
Name[zh_TW]=KDE 計時器
X-KDE-StartupNotify=true
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Utility;X-KDE-More;
