[Desktop Entry]
Encoding=UTF-8
Comment=Task Scheduler
Comment[da]=Opgaveskemalægger
Comment[de]=Aufgabenplaner
Comment[es]=Planificador de tareas
Comment[fr]=Planificateur de tâches
Comment[he]=מתזמן משימות
Comment[hu]=KDE-alapú feladatidőzítő
Comment[is]=Verkefnastjóri
Comment[it]=Operazioni pianificate
Comment[lt]=Užduočių planuotojas
Comment[lv]=Uzdevumu Plānotājs
Comment[sk]=Plánovač úloh
Comment[sv]=Jobbschemaläggare
Comment[ta]=À½¢ «¨ÁôÀ¡Ç÷
Comment[xx]=xx
Exec=ktimer
Icon=ktimer
Type=Application
Terminal=0
Name=KTimer
Name[fr]=kTimer
Name[hu]=KTimer időzítő
Name[lv]=KTaimers
Name[sv]=Ktimer
Name[tr]=Zamanlayıcı
Name[xx]=xx
X-KDE-StartupNotify=true
X-DCOP-ServiceType=Multi
